body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("ImagesRandom/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.return-button{
  font-size: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 25px #181818;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 5%;
  margin-top: 5%;
  border-radius: 20px;
  -webkit-text-stroke-width: 0px;
}

.container {
  background-color: #fff;
  text-align: center;
  color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 35px rgba(73, 73, 73, 0.6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 1px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.player {
  width: 75px;
  text-align: center;
  align-items: center;
}

.score, .number {
  border: 2px #000 solid;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px;
  margin-top: 25px;
}

.score {
  box-shadow: 0 0 35px #1665a5;
  background-color: #2196F3;
}

.number {
  box-shadow: 0 0 35px #b6a82a;
  background-color: #FFEB3B;
}

.generate button {
  font-size: 20px;
  background-color: #4CAF50;
  box-shadow: 0 0 35px #357e38;
  border: none;
  cursor: pointer;
  padding: 10%;
  margin-right: 70px;
  margin-left: 30px;
  margin-top: 40%;
  border: 1px #000 solid;
  border-radius: 20px;
  -webkit-text-stroke-width: 0px;
}

.restart-button{
  font-size: 20px;
  background-color: #3437bd;
  box-shadow: 0 0 35px #3437bd;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5%;
  margin-top: 5%;
  border-radius: 20px;
  -webkit-text-stroke-width: 0px;
}

.result {
  font-size: 24px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .score, .number {
      font-size: 18px;
      padding: 15px;
  }
  
  .generate button {
      font-size: 25px;
      padding: 10%;
  }
}
