body{
  background: url(Images/Background.gif);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #fff;
  font-family: Arial Black;
}

.game-image {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin-bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.container-games{
  padding: 150px;
  background-color: black;
  border: 10px solid transparent;
  border-image: linear-gradient(
    90deg, 
    green, 
    yellow, 
    red, 
    orange, 
    purple, 
    blue, 
    green
  ) 1;
  animation: rainbow-border 5s linear infinite;
}

.game-container {
  margin: 20px;
  border: 5px dashed transparent;
  border-image: linear-gradient(
    90deg, 
    green, 
    yellow, 
    red, 
    orange, 
    purple, 
    blue, 
    green
  ) 1;
  position: relative;
  height: 220px;
  overflow: hidden;
  animation: rainbow-border 3s linear infinite;
}

@keyframes rainbow-border {
  0% {
    border-image-source: linear-gradient(
      90deg, 
      green, 
      yellow, 
      red, 
      orange, 
      purple, 
      blue, 
      green
    );
  }
  50% {
    border-image-source: linear-gradient(
      90deg, 
      blue, 
      green, 
      yellow, 
      red, 
      orange, 
      purple, 
      blue
    );
  }
  100% {
    border-image-source: linear-gradient(
      90deg, 
      green, 
      yellow, 
      red, 
      orange, 
      purple, 
      blue, 
      green
    );
  }
}

.hidden {
  opacity: 0;
}

.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-left-exit {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-exit {
  transform: translateX(100%);
  opacity: 0;
}

.visible {
  transform: translateX(0);
  opacity: 1;
}

.control-button {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.button-style {
  --primary-color: rgba(0, 172, 238, 1);
  --secondary-color: rgba(2, 126, 251, 1);

  background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  position: relative;
}

.button-style span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.button-style:before,
.button-style:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: var(--secondary-color);
  transition: all 0.3s ease;
}

.button-style:before {
  height: 0%;
  width: 2px;
}

.button-style:after {
  width: 0%;
  height: 2px;
}

.button-style:hover {
  background: transparent;
  box-shadow: none;
}

.button-style:hover:before {
  height: 100%;
}

.button-style:hover:after {
  width: 100%;
}

.button-style span:hover {
  color: var(--secondary-color);
}

.button-style span:before,
.button-style span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: var(--secondary-color);
  transition: all 0.3s ease;
}

.button-style span:before {
  width: 2px;
  height: 0%;
}

.button-style span:after {
  width: 0%;
  height: 2px;
}

.button-style span:hover:before {
  height: 100%;
}

.button-style span:hover:after {
  width: 100%;
}

@media(max-width: (600px)){
  .game-container {
    width: 90%;
    height: auto;
  }

  .game-image {
    max-width: 100%;
    height: auto;
  }
}